%h1 Listing articles

%table
  %tr
    %th Title
    %th Body
    %th
    %th
    %th

  - @articles.each do |article|
    %tr
      %td= article.title
      %td= article.body
      %td= link_to 'Show', article
      %td= link_to 'Edit', edit_article_path(article)
      %td= link_to 'Destroy', article, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Article', new_article_path


%p article attributes:
- attrs = Metaprog::MetaAttribute.where(mname: "article").without(:mvalue, :mname).all
= attrs.map{|c| c.mkey}
- attrs.each do |key|
  = key.mkey.to_s
%ul
  %li
    = Metaprog::MetaAttribute.field_list_by_name("article").map{ |c| c.mkey }